<!DOCTYPE html>

<html>

<head>
	<title> Sign in | Create Account </title>
</head>

<body>

	{{ footer }}
	<br>
	<br>
	
	<center> <h1> Login to the Best Website in the Universe </h1>
	<form action = "/login/" method ="POST"> 
	    <table>
	    	<tbody>
	     		<tr>
        			<td>
           				Username
        			</td>
        			<td>
           				<input type ="text" name = "username">
        			</td>
     			</tr>
     			<tr>
        			<td>
           				Password
        			</td>
        			<td>
           				<input type = "password" name = "password1">
        			</td>
     			</tr>
     			<tr>
        			<td>
        			</td>
        			<td>
           				<input type="submit" name = "login"> 
        			</td>
     			</tr>
  			</tbody>
		</table>   
	</form>
	</center>
	
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	
	<center> <h1>Join the Best Website in the Universe  </h1>
	<form action = "/register/" method ="POST"> 
	    <table>
	    	<tbody>
	     		<tr>
        			<td>
           				Username
        			</td>
        			<td>
           				<input type ="text" name = "username">
        			</td>
     			</tr>
     			<tr>
        			<td>
           				Password
        			</td>
        			<td>
           				<input type = "password" name = "password1">
        			</td>
     			</tr>
     			<tr>
        			<td>
           				Reenter Password
        			</td>
        			<td>
           				<input type = "password" name = "password2">
        			</td>
     			</tr>
     			<tr>
        			<td>
        			</td>
        			<td>
           				<input type="submit" name = "register"> 
        			</td>
     			</tr>
  			</tbody>
		</table>   
	
	</form>
	</center>
	
</body>

</html>